<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>ISS and NASA</title>
  </head>

  {% block styles %}

  {% endblock %}

  <body>
    <main role="main" class="container">
      {% block main %}

      {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Project of Group 2 (The B team) as part of the Secure Software Development (SSD) module.</span>
      </div>
    </footer>
  </body>
</html>
