{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="mt-4">
    <img src="/static/nasa-logo.png" alt="" width="256" height="128" />
    <h1>ISS and NASA</h1>
    <p class="lead">This is a prototype for the implementation of the ISS and NASA portal.</p>
    <a href="/logout" class="btn btn-primary">Logout</a>
  </div>

  <ul>
    {% for report in reports %}
      <li>
        <a href="/export-report/{{ report.pk }}">{{ report.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
